terraform.tfstate
terraform.tfstate.backup
private-key
private-key/*
project
project/*
.terraform*
.terraform/*
local-exec-output-files
local-exec-output-files/*
.terraform.local.hcl
csi-driver-addon-repo
ec2-repo
network-repo
